[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NSC"]
	path = NSC
	url = https://github.com/boklauth/nsc
[submodule "simPsyStudy"]
	path = simPsyStudy
	url = https://github.com/boklauth/simpsystudy
